@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing:border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'VT323', monospace;
}
.overworld {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.game-container {
  transform: scale(3);
  /* transform: scale(.5); */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-container canvas {
  image-rendering: pixelated;
}
.map-container {
  position: absolute;
}
.person-canvas {
  position: absolute;
}
