.Hud {
  position: absolute;
  left:10px;
  top:10px;
  image-rendering: pixelated;
  transform: scale(3.2);
  transform-origin: 0 0;
}

.Hud .Combatant {
  position: relative;
  margin-bottom: 10px;
}

.Hud .Combatant_type {
  display:none;
}