.KeyboardMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 14px;
  font-size: 42px;
  color: rgb(0, 0, 0);
  margin-top: 50px;

}
.KeyboardMenu button {
 cursor:pointer;
}
.KeyboardMenu button:focus {
}

.KeyboardMenu .option {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  cursor: pointer;
 }
 .KeyboardMenu .option.select {
   opacity: 1;
   translate: border;
   animation-name: blink;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   color: #1955D9;

 }
 .KeyboardMenu .option .right {
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-right: 3px;
 }

 /* .KeyboardMenu .arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(3.5);
  transform-origin: right;
  opacity: 0;
 } */

 /* .DescriptionBox {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  color: var(--menu-font-color);
  border-top: 1px solid var(--border-color);
  background: var(--menu-background);
  padding: 2px;
 }
 .DescriptionBox p {
  font-size: 10px;
  margin:0;
 } */



 /* Battle specific */
.Battle .KeyboardMenu {
  right:0;
  bottom:0;
  width: 140px;
}

/* animations */
@keyframes blink {
  from {
    opacity: 0;
    /* color: #1955d9; */
  }

  to {
    opacity: 1;
    /* color: #ff982c; */
  }
}