.TitleScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TitleScreen_logo {
  transform: scale(5);
  transform-origin: bottom;
  image-rendering: pixelated;
  margin-top: 100px;
}
.title {
  font-size: 42px;
  color: #fff;
  /* border: 3px solid #fff; */
  padding: 10px 30px;
}

.TitleScreen button {
  color: #fff;
  justify-content: center;
  padding:0;
}

.TitleScreen .DescriptionBox {
  text-align: center;
  font-size: 32px;
}