.TitleScreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: #fff;
  border: solid 3px black;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
}
.screen-wrapper {
  
  width: 100%;
}
.screen-header {
  position: relative;
  width: 100%;
}
.header-part1 {
  height: 9px;
  background: #B8CEDF;
}
.header-part2 {
  height: 6px;
  background: #8596a2;
}
.header-part3 {
  height: 3px;
  background: #3A4B59;
}
.header-dot1 {
  position: absolute;
  left: 5px;
  bottom: 5px;
  height: 8px;
  width: 8px;
  background: #FD6868;
}
.header-dot2 {
  position: absolute;
  left: 18px;
  bottom: 5px;
  height: 8px;
  width: 8px;
  background: #00B67F;
}
.header-dot3 {
  position: absolute;
  left: 32px;
  bottom: 5px;
  height: 8px;
  width: 8px;
  background: #FDEE68;
}
.title {
  width: 420px;
  margin-top: 30px;
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
}
.bubbo {
  transform-origin: top;
  /* transform: scale(3); */
}
.portfolio {
  transform-origin: top;
  margin-top: -20px;
  /* transform: scale(2.5); */
}
.title {
  font-size: 42px;
  color: #fff;
  /* border: 3px solid #fff; */
  padding: 10px 30px;
}

.TitleScreen button {
  color: #fff;
  justify-content: center;
  padding:0;
}

.TitleScreen .DescriptionBox {
  text-align: center;
  font-size: 32px;
}

.copyright {
  margin-top: 50px;
  margin-bottom: 14px;
  font-size: 18px;
}


/*********/
/* ABOUT */
/*********/

.about {
  position: fixed;
  border: solid 3px black;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
}
.about .screen-body {
  padding: 30px;
}
.about .title {
  margin: 0;
  font-size: 48px;
  color: black;
  text-align: center;
}
.about .body {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about .screen-body {
  background-color: white;
  text-align: center;
}
.about .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/***********/
/* CONTACT */
/***********/

.contact {
  position: fixed;
  border: solid 3px black;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
}
.contact .screen-body {
  padding: 30px;
}
.contact .title {
  margin: 0;
  font-size: 48px;
  color: black;
  text-align: center;
}
.contact .body {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact .screen-body {
  background-color: white;
  text-align: center;
}
.contact .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
